<app-loading class="animated fadeIn" *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" [alt]="artista.name" class="img-thumbnail img-circle">
    </div>

    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" class="text-success font-weight-bold" target="_blank">Ir a la pagina del artista.</a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button class="btn btn-outline-success" [routerLink]="['/search']">Regresar</button>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <table class="table">
            <thead>
                <tr class="text-success">
                    <th>
                        Foto
                    </th>
                    <th>
                        Album
                    </th>
                    <th>
                        Cancion
                    </th>
                    <th>
                        Vista Previa
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td><img [src]="track.album.images | noimage" [alt]="track.name" class="img-thumb"></td>
                    <td valign="middle">{{track.album.name}}</td>
                    <td valign="middle">{{track.name}}</td>
                    <!-- <td><audio [src]="track.preview_url" controls></audio></td> -->
                    <td><iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>